In [32]:
import pandas as pd
import numpy as np
import time 
import sqlite3

In [34]:
triplet_dataset = pd.read_csv(filepath_or_buffer='D:\\dataset\\datasets\\音乐推荐数据集\\音乐推荐数据集\\train_triplets.txt',sep='\t',header=None,names=['user','song','play_count'])

In [36]:
triplet_dataset.shape

(48373586, 3)

In [37]:
triplet_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48373586 entries, 0 to 48373585
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   user        object
 1   song        object
 2   play_count  int64
dtypes: int64(1), object(2)
memory usage: 1.1+ GB

In [38]:
triplet_dataset.head(n=10)

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBNZDC12A6D4FC103           1
6  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBSUJE12A6D4F8CF5           2
7  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBVFZR12A6D4F8AE3           1
8  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXALG12A8C13C108           1
9  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0           1

In [43]:
output_dict = {}
with open('D:\\dataset\\datasets\\音乐推荐数据集\\音乐推荐数据集\\train_triplets.txt')as f:
    for line_number,line in enumerate(f):
        user = line.split('\t')[0]
        play_count = int(line.split('\t')[2])
        if user in output_dict:
            play_count +=output_dict[user]
            output_dict.update({user:play_count})
        output_dict.update({user:play_count})
output_list = [{'user':k,'play_count':v} for k,v in output_dict.items()]
play_count_df = pd.DataFrame(output_list)
play_count_df = play_count_df.sort_values(by = 'play_count',ascending = False)

In [44]:
play_count_df.to_csv(path_or_buf='user_playcount_df.csv',index = False)

In [45]:
play_count_df

                                             user  play_count
669980   093cb74eb3c517c5179ae24caf0ebec51b24d2a2       13132
402687   119b7c88d58d0c6eb051365c103da5caf817bea6        9884
964856   3fa44653315697f42410a30cb766a4eb102080bb        8210
462404   a2679496cd0af9779a92a13ff7c6af5c81ea8c7b        7015
991089   d7d2d888ae04d16e994d6964214a1de81392ee04        6494
...                                           ...         ...
465556   ed0e17348ea44b302b87078f0620343ba9b754b5          10
967950   b983b36e486f64fb87c2b055233952e2dae187fa          10
1004805  52728cecec25586097e2f4b8b7397053fed5ba90          10
754750   5f18f970c6a597d60a19d26c131dfc04e80a1fc4          10
95845    c104a3c1ad5d9e5493a45373343c2ade751eec69          10

[1019318 rows x 2 columns]

In [46]:
output_dict = {}
with open('D:\\dataset\\datasets\\音乐推荐数据集\\音乐推荐数据集\\train_triplets.txt')as f:
    for line_number,line in enumerate(f):
        song = line.split('\t')[1]
        play_count = int(line.split('\t')[2])
        if song in output_dict:
            play_count +=output_dict[song]
            output_dict.update({song:play_count})
        output_dict.update({song:play_count})
output_list = [{'song':k,'play_count':v} for k,v in output_dict.items()]
song_count_df = pd.DataFrame(output_list)
song_count_df = song_count_df.sort_values(by = 'play_count',ascending = False)

In [47]:
song_count_df.to_csv(path_or_buf='song_playcount_df.csv',index = False)

In [48]:
song_count_df

                      song  play_count
202     SOBONKR12A58A7A7E0      726885
199     SOAUWYT12A81C206F1      648239
218     SOSXLTC12AF72A7F54      527893
22      SOFRQTD12A81C233C0      425463
206     SOEGIYH12A6D4FC0E3      389880
...                    ...         ...
326175  SOXZARS12AB01851EE           1
326176  SOCCQEA12AB017E7CF           1
272569  SOGNHOL12A8C13C379           1
361600  SOPXELI12A8C13FAB0           1
362545  SONAEOM12AF72A05DF           1

[384546 rows x 2 columns]

In [49]:
total_play_count = sum(song_count_df.play_count)
print((float(play_count_df.head(n=100000).play_count.sum())/total_play_count)*100)
play_count_subset = play_count_df.head (n=100000)

40.8807280500655

In [51]:
(float(song_count_df.head(n=30000).play_count.sum())/total_play_count)*100

78.39315366645269

In [52]:
song_count_subset = song_count_df.head(n=30000)

In [54]:
user_subset = list(play_count_subset.user)
song_subset = list(song_count_subset.song)

In [55]:
triplet_dataset_sub = triplet_dataset[triplet_dataset.user.isin(user_subset)]
del(triplet_dataset)
triplet_dataset_sub_song = triplet_dataset_sub[triplet_dataset_sub.song.isin(song_subset)]
del(triplet_dataset_sub)

In [57]:
triplet_dataset_sub_song.shape

(10774558, 3)

In [58]:
triplet_dataset_sub_song

,user,song,play_count
498,d6589314c0a9bcbca4fee0c93b14bc402363afea,SOADQPP12A67020C82,12
499,d6589314c0a9bcbca4fee0c93b14bc402363afea,SOAFTRR12AF72A8D4D,1
500,d6589314c0a9bcbca4fee0c93b14bc402363afea,SOANQFY12AB0183239,1
501,d6589314c0a9bcbca4fee0c93b14bc402363afea,SOAYATB12A6701FD50,1
502,d6589314c0a9bcbca4fee0c93b14bc402363afea,SOBOAFP12A8C131F36,7
...,...,...,...
48373474,ca99d94daa9d5231643a08aac2f3bfb645e73b09,SOFVUHW12A8C133115,1
48373479,ca99d94daa9d5231643a08aac2f3bfb645e73b09,SOKTYPK12A8C13AD20,10
48373489,ca99d94daa9d5231643a08aac2f3bfb645e73b09,SOTJPUL12A8C133126,1
48373490,ca99d94daa9d5231643a08aac2f3bfb645e73b09,SOUEAAS12A8C133106,2
48373494,ca99d94daa9d5231643a08aac2f3bfb645e73b09,SOXEUDZ12A8C13145B,2